@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --principal: #eff6ff;
    --secundario: #0073CE;
    /* --secundario-analog1: #31a0f5; */
    --secundario-analog1: #0073CE;
    --secundario-analog2: #31a0f5b7;
    --terciario: #f0d346;
    --white: #ffffff;
    --icon-size-sm: 1.3rem;
    --icon-size-md: 1.8rem;
    --icon-size-lg: 2.3rem;
    --black: #121519;
    --blue: #193250;
    --blue-sea: #0b7fd7;
    --blue-sea-light: #0b7fd7c0;
    --blue-sea-lighter: #0f8eef9e;
    --bg-theme-title: #27348d;
    --themecolor: #3fabf3;
    --themecolor-palid: hsl(204, 88%, 75%);
    --themecolor-lighter: #cfeafc;
    --color-theme-red: #f3544f;
    --blue-sea-lightest: rgba(62, 171, 255, 0.238);
    --gray: #465362;
    --slate-600: #c3c9d1;
    --slate-700: #7d8798;
    --slate-700_O: #7d8798be;
    --gray-light: #d5dae25a;
    --green: #3cc17a;
    --purplegrade1-instagram: #D92995;
    --purplegrade2-instagram: #F65158;
    --purplegrade3-instagram: #FFEC93;
    --purplegrade-instagram: linear-gradient(90deg,
            var(--purplegrade1-instagram) 50%,
            var(--purplegrade2-instagram) 80%,
            var(--purplegrade3-instagram) 100%);
    --blue-facebook: #0866FF;
    --blue-linkedin: #0C64C5;
    --yello-snapchat: #F7F300;
    --red-youtube: #FF0000;
    --escarlata: #ec4a4a;
    --escarlata-dark: #d74848;
    --escarlata-darker: rgb(150, 34, 34);
    --shadow: rgba(66, 66, 66, 0.4);
    --shadow-md: rgba(66, 66, 66, 0.7);
    --shadow-links: rgb(156, 156, 156);
    --shadow-2: rgba(55, 55, 55, 0.2);
    --rounded-md: 0.375rem;
    font-size: 18px !important;
    --tracking-lg: 0.8em;
    --tracking-md: 0.5em;
    --tracking-sm: 0.1em;
}

select.form,
input.form {
    border: 1px solid var(--slate-600);
    border-radius: var(--rounded-md);
    padding: 12px;
    padding-left: 20px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

select.form {
    border: 1px solid var(--slate-600);
    border-radius: var(--rounded-md);
    padding: 13px !important;
    padding-left: 20px !important;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

label.form {
    /* border: 1px solid var(--slate-600); */
    border-radius: var(--rounded-md);
    padding: 13px !important;
    padding-left: 0px !important;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.swal2-container {
    z-index: 9999;
    /* Increase this value as needed */
}
